.govUK{
    // Text
 --govuk-text-colour:	#0b0c0c	
 --govuk-secondary-text-colour:	#505a5f	
// Links
 --govuk-link-colour:	#1d70b8	
 --govuk-link-hover-colour:	#003078	
 --govuk-link-visited-colour:	#4c2c92	
 --govuk-link-active-colour:	#0b0c0c	
// Border
 --govuk-border-colour:	#b1b4b6	
 --govuk-input-border-colour:	#0b0c0c	
// Focus state
 --govuk-focus-colour:	#ffdd00	Only use this colour: to indicate which element is focused on. For example, when a user tabs to an element with their keyboard.
 --govuk-focus-text-colour:	#0b0c0c	
// Error state
 --govuk-error-colour:	#d4351c	Use for error messages
// Success state
 --govuk-success-colour:	#00703c	Use for success messages
// Brand colour:
 --govuk-brand-colour:	#1d70b8
}