@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");
.buffer {
  // colors
  //  blue palette
  // We use @curious-blue as the main blue color for the object, @denim for its :hover state, and @tory-blue for its :active state.
  --curious-blue: #168eea;
  --curious-blue20: #168eea20;
  --denim: #137ac9;
  --tory-blue: #0f63a4;

  // brand palette Our brand palette is used to describe the various brands represented in the Buffer product.
  --appdotnet: #4a484c;
  --facebook: #3b5998;
  --googleplus: #dd4b39;
  --linkein: #007bb6;
  --pinterest: #bd081c;
  --twitter: #55acee;
  // grey pallette Our gray palette is used in most objects; from typography and border colors to backgrounds and shadows.
  //     We use @outer-space for the color of input, label, the active NavBar__menu__item, h1 through h6, the :active state of a Button--type-tertiary (including its background-color property at 10% opacity), and the :hover state of a Button--type-tertiary.

  // We use @shuttle-gray for the color of body, NavBar__menu__item, and Tag.

  // We use @nevada for the border-color and color of Button--type-tertiary.

  // We use @geyser for the border-color of all objects that require a border.

  // We use @aqua-haze for an alternative, light background color.
  --outer-space: #323b43;
  --shuttle-gray: #59626a;
  --nevada: #666c72;
  --geyser: #ced7df;
  --aqua-haze: #f4f7f9;

  // Shade palette
  --white: #fff;
  // State palette
  --shamrock: #2fd566;
  --shamrock20: #2fd56620;
  --saffron: #f1cb3a;
  --saffron20: #f1cb3a90;
  --torch-red: #ff1e1e;
  --torch-red20: #ff1e1e20;
  --icon-size: 48px;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  color: var(--shuttle-gray);
  h1,
  h2,
  h3 {
    line-height: normal;
    color: var(--outer-space);
    margin: 0 0 2rem 0;
    font-weight: 300;
  }
  h1 {
    font-size: 3rem;
    line-height: 4.5rem;
  }
  h2 {
    font-size: 2.5rem;
    line-height: 3.75rem;
  }
  h3 {
    font-size: 1.5rem;
    line-height: 2.25rem;
  }
  h4,
  h4,
  h6 {
    margin: 0 0 1rem 0;
  }

  a {
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
  ol,
  ul {
    margin: 0.125rem 1rem 2rem 2.125rem;
    & li {
      margin-bottom: 0.5rem;
    }
  }
  .List--style-none {
    list-style: none;
  }
  .List--margin-bottom-0 {
    margin-bottom: 0;
  }
  p {
    margin: 1rem 0;
  }
  .Paragraph {
    &--order-first {
      margin-top: 0;
    }
    &--order-last {
      margin-bottom: 0;
    }
  }
  .accordion {
    &-label {
      border-bottom: 1px solid var(--outer-space);
      & svg {
        stroke: var(--tory-blue);
      }
    }
  }

  .Button {
    border: 2px solid var(--curious-blue);
    border-radius: 20px;
    background-color: var(--curious-blue);
    color: var(--white);
    font-weight: 300;
    // max-width: 5rem;
    // min-width: 4rem;
    padding: 0.25rem 1rem;
    &:hover {
      background-color: var(--denim);
      border-color: var(--denim);
    }
    &:active {
      background-color: var(--tory-blue);
      border-color: var(--tory-blue);
    }
    &--state-error {
      border: 1px solid var(--torch-red);
      background-color: var(--white);
      color: var(--torch-red);
      &:hover,
      &:active {
        background-color: var(--torch-red20);
        border: 1px solid var(--torch-red);
      }
    }
    &--type-borderless {
      background-color: var(--white);
      color: var(--curious-blue);
      border: none;
      &:hover,
      &:active {
        background-color: var(--white);
        color: var(--curious-blue);
        border: none;
      }
    }
    &--type-secondary {
      border: 1px solid var(--curious-blue);
      background-color: var(--white);
      color: var(--curious-blue);
      &:hover,
      &:active {
        background-color: var(--curious-blue20);
        border: 1px solid var(--curious-blue);
      }
    }
    &--type-tertiary {
      border: 1px solid var(--geyser);
      background-color: var(--white);
      color: var(--shuttle-gray);
      &:hover,
      &:active {
        background-color: var(--white);
        border: 1px solid var(--shuttle-gray);
      }
    }
    &--type-small {
      padding: 0.125rem 0.5rem;
    }
    &--type-like {
      .like,
      .unlike,
      .loading {
        border-radius: 1.5rem;
        border: 0.2rem solid #888;
        padding: 0.5rem 1rem;
        font-size: 1rem;
        font-weight: 700;
        color: #888;
        background-color: white;

        white-space: nowrap;
      }

      .unlike:hover,
      .like:hover {
        border-color: #f00;
        color: #f00;
        background-color: white;
      }
      .like,
      .loading:hover {
        color: white;
        background-color: #f00;
        border-color: #f00;
      }
    }
  }
  .Card {
    padding: 1rem;
    border: 1px solid var(--nevada);
    border-radius: 0.25rem;
    overflow: hidden;
    &--double-padding {
      padding: 2rem;
    }
    &--empty {
      border: 1px dashed var(--nevada);
    }
    &--no-border {
      border: none;
    }
    &--no-padding {
      padding: 0;
    }
    &-header {
      background-color: var(--aqua-haze);
      border: none;
      border-bottom: 1px solid var(--geyser);
    }
  }
  .bar {
    background-color: var(--geyser);
    border: 1px solid var(--geyser);
    border-radius: 10px;
    margin-bottom: 0.125rem;
    overflow: hidden;
    &-progress {
      background-color: var(--curious-blue);
      height: 0.85rem;
      transform: scaleX(0);
      transform-origin: left;
      transition-duration: 2000ms;
      transition-property: transform;
      transition-timing-function: linear;
    }
    &-active {
      transform: scaleX(1);
    }
  }
  .text-input {
    &:valid {
      background-color: var(--shamrock20);
    }

    &:invalid {
      background-color: var(--torch-red20);
    }
  }
  .stars {
    display: flex;

    gap: 0.25rem;
    padding: 0.25rem;
    border: 1px solid var(--geyser);
    border-radius: 5px;

    &-star {
      &-icon {
        --icon-size: 1.5rem;
        cursor: pointer;
        height: var(--icon-size);
        width: var(--icon-size);
        stroke: var(--geyser);
        &-filled {
          stroke: var(--torch-red20);
          fill: var(--saffron);
        }
      }
    }
  }
  .carousel {
    background: linear-gradient(135deg, black, var(--denim));
  }
}
